block mixins
  mixin css(href)
    link(rel="stylesheet" href=href)&attributes(attributes)

  mixin js(src)
    script(src=src)&attributes(attributes)

  mixin js-defer(src)
    script(defer src=src)&attributes(attributes)

  mixin js-async(src)
    script(async src=src)&attributes(attributes)


<!DOCTYPE html>

html(class=htmlClass ? htmlClass : "" lang=htmlLang ? htmlLang : "en")
  head
    block head
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      meta(http-equiv="X-UA-Compatible", content="ie=edge")
      title=title ? title : "Some Games"

  body(class=bodyClass ? bodyClass : "")
    block body
      block header
      block main
      block footer
